.white-text {
    color: white;
}

.teal-text {
    color: #009688;
}

.page-heading{
    text-align: center;
    padding-bottom: 0.5em;
}

.sc-button{
    margin-right: 1.1em;
}

.sc-button-div{
    padding-left: 0.4em !important;
}

.menu{
    font-size: 40px !important;
    padding: 0.2em;
}

.borders{
    border: white 2px solid;
    padding: 1em;

}

.borders-index {
    border: white 2px solid;
    padding: 1em;
    margin-top: 4em;
}

input.select-dropdown {
    color: white;
}

.index-text {
    padding-top: 2em;
}
