body{
    background-color: #f5f5f5;
}

.page-heading{
    text-align: center;
    padding-bottom: 0.5em;
}

.sc-button{
    margin-right: 1.1em;
}

.sc-button-div{
    padding-left: 0.4em !important;
}

.menu{
    font-size: 40px !important;
    padding: 0.2em;
}

.borders{
    border: white, 1px, solid;

}

input.select-dropdown {
    color: white;
}