<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<div class="row">
	<h3 class="page-heading teal-text">Create Stock Card</h3>
</div>
<div class="row borders teal-text">
	<form action="{{ url_for('insert_stock_cards') }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">supervisor_account</i>
				<select id="customer" name="customer" required>
                    <option value="" disabled selected>Customer Code</option>
                    <!-- Find's customers stored in database -->
                    {% for customer in customer %}
                    <option value="{{customer.customer}}">{{customer.customer}}</option>
                    {% endfor %}
                </select>
				<label class="teal-text"><strong>Customer</strong></label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">edit</i>
				<input id="product_code" name="product_code" type="text" class="validate white-text" required>
				<label for="product_code" class="white-text">Product Code</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">description</i>
				<input id="product_desc" name="product_desc" type="text" class="validate white-text" required>
				<label for="product_desc" class="white-text">Product Description</label>
			</div>
			<div class="input-field col s6">
				<i class="material-icons prefix">edit</i>
				<input id="unit_weight" name="unit_weight" type="text" class="validate white-text" required>
				<label for="unit_weight" class="white-text">Unit Weight</label>
			</div>
			<div class="input-field col s6">
				<i class="material-icons prefix">edit</i>
				<input id="unit_per_pallet" name="unit_per_pallet" type="text" class="validate white-text" required>
				<label for="unit_per_pallet" class="white-text">Units Per Pallet</label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">edit</i>
				<input id="supplier" name="supplier" type="text" class="validate white-text" required>
				<label for="supplier" class="white-text">Supplier</label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">edit</i>
				<input id="packaging" name="packaging" type="text" class="validate white-text" required>
				<label for="packaging" class="white-text">Packaging</label>
			</div>
			<div class="switch">
				<label class="white-text">
                    <input type="checkbox" checked id="active" name="active" >
                    <span class="lever"></span>
                    Active
                </label>
			</div>
		</div>
		<button class="btn-floating btn-large waves-effect waves-light light-green" type="submit" name="action"><i class="material-icons black-text">add</i></button>
	</form>
</div>
{% endblock %}