<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<h3 class="page-heading">Create Stock Card</h3>

<div class="row">
	<form action="{{ url_for('insert_stock_cards') }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12 m6">
             <i class="material-icons prefix">supervisor_account</i>
				<select id="customer" name="customer">
                    <option value="" disabled selected>Customer Code</option>
                    {% for customer in customer %}
                    <option value="{{customer.customer}}">{{customer.customer}}</option>
                    {% endfor %}
                </select>
				<label>Customer</label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">edit</i>
				<input id="product_code" name="product_code" type="text" class="validate">
				<label for="product_code">Product Code</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">description</i>
				<input id="product_desc" name="product_desc" type="text" class="validate">
				<label for="product_desc">Product Description</label>
			</div>
			<div class="input-field col s6">
				<i class="material-icons prefix">edit</i>
				<input id="unit_weight" name="unit_weight" type="text" class="validate">
				<label for="unit_weight">Unit Weight</label>
			</div>
			<div class="input-field col s6">
				<i class="material-icons prefix">edit</i>
				<input id="units_per_pallet" name="units_per_pallet" type="text" class="validate">
				<label for="units_per_pallet">Units Per Pallet</label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">edit</i>
				<input id="supplier" name="supplier" type="text" class="validate">
				<label for="supplier">Supplier</label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">edit</i>
				<input id="packaging" name="packaging" type="text" class="validate">
				<label for="packaging">Packaging</label>
			</div>
		</div>
		<button class="btn-floating btn-large waves-effect waves-light green" type="submit" name="action"><i class="material-icons">add</i></button>
	</form>
</div>
<button><a href="{{url_for('manage_stock_cards')}}">Back</a></button>







{% endblock %}