<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<div class="col s8">
	<h3 class="page-heading teal-text">Stock Card Archive</h3>
</div>
<div class="row">
	<a href="{{ url_for('manage_stock_cards') }}"><button class="btn waves-effect waves-light teal black-text">Clear</button></a>
</div>
<!-- Shows stock cards which have been archived -->
{% for stock in stock_cards %}
{% if stock.active == "off" %}
<div class="row">
	<div class="col s12 m4">
		<div class="card grey lighten-2">
			<div class="card-content black-text">
				<p><strong>ARCHIVED</strong></p>
				<span class="card-title">{{stock.product_code}}</span>
				<p>{{stock.customer}}</p>
				<p>{{stock.product_desc}}</p>
                <!-- Delete function only accessable by manager usertype -->
				{% if session['usertype'] == 'manager' %}
				<div class="card-action sc-button-div">
					<a href="{{url_for('relist_stock_cards', stock_cards_id=stock._id )}}"
						class="btn-floating btn waves-effect waves-light light-green sc-button"><i class="material-icons black-text">unarchive</i></a>
					<!-- Modal Trigger -->
					<a class="btn-floating btn waves-effect waves-light red accent-2 modal-trigger"
						href="#delete_modal"><i class="material-icons black-text">delete</i></a>
					<!-- Modal Structure -->
					<div id="delete_modal" class="modal teal white-text">
						<div class="modal-content">
							<h4>Delete Confirmation</h4>
							<p>Are you sure you want to delete this stock card?</p>
							<p>All information and history will be lost</p>
						</div>
						<div class="modal-footer teal">
							<a href="{{url_for('delete_stock_cards', stock_cards_id=stock._id )}}"
								class="modal-close waves-effect waves-green black btn">Delete</a>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>
{% endblock %}