<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<h3 class="page-heading teal-text">Edit Stock</h3>
<div class="row teal-text borders">
	<form action="{{ url_for('update_stock', storage_id=storage._id ) }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">supervisor_account</i>
				<select id="customer" name="customer" required>
                    <option value="" disabled selected>Customer Code</option>
                     <!-- Finds customers on database and autofills the field if matches the selected -->
                    {% for customer in customer %}
                        {% if customer.customer == storage.customer %}
                    <option value="{{customer.customer}}" selected>{{customer.customer}}</option>
                        {% else %}
                    <option value="{{customer.customer}}">{{customer.customer}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
				<label class="teal-text"><strong>Customer</strong></label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">description</i>
				<select id="product_code" name="product_code" required>
                    <option value="" disabled selected>Select Product Code</option>
                     <!-- Finds product codes on database and autofills the field if matches the selected -->
                    {% for product in product %}
                        {% if product.product_code == storage.product_code %}
                    <option value="{{product.product_code}}" selected>{{product.product_code}}</option>
                        {% else %}
                    <option value="{{product.product_code}}">{{product.product_code}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
				<label class="teal-text"><strong>Product Code</strong></label>
			</div>
			<div class="input-field col s12 ">
				<i class="material-icons prefix">description</i>
				<input id="delivery_ref" name="delivery_ref" type="text" class="validate white-text" value="{{ storage.delivery_ref }}" required>
				<label class="white-text" for="delivery_ref">Delivery Reference</label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">edit</i>
				<input id="bbe" name="bbe" type="text" class="validate white-text" value="{{ storage.bbe }}" required>
				<label class="white-text" for="bbe">Best Before Date: (DD/MM/YYYY)</label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">edit</i>
				<input id="quantity" name="quantity" type="text" class="validate white-text" value="{{ storage.quantity }}" required>
				<label class="white-text" for="quantity">Quantity Received</label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">edit</i>
				<input id="location" name="location" type="text" class="validate white-text" value="{{ storage.location }}" required>
				<label class="white-text" for="location">Location</label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">edit</i>
				<input type="text" class="datepicker white-text" id="date_received" name="date_received" value="{{ storage.date_received }}" required>
				<label class="white-text" for="date_received">Date Received</label>
			</div>
		</div>
        <a><button class="btn waves-effect waves-light light-green black-text" type="submit" name="action"><i class="material-icons left">edit</i>Edit Receipt</button></a> 
	</form> 
</div>
{% endblock %}