<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <h1 class="teal-text">Sign In</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="alert-warning white-text"><strong>{{ message }}</strong></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="" method="post">
        {{ form.csrf_token }}
        <p>
            <strong>{{ form.username.label(class='teal-text') }}</strong><br>
            {{ form.username(size=32, class='white-text')}}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <strong>{{ form.password.label(class='teal-text') }}</strong><br>
            {{ form.password(size=32, class='white-text') }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
         <p>
            <strong>{{ form.usertype.label(class='teal-text') }}</strong><br>
            {{ form.usertype(size=32, class='white-text') }}<br>
            {% for error in form.usertype.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p><strong>{{ form.submit(class='teal black-text') }}</strong></p>
    </form>
    <p class="teal-text">Not registered? Then please <a class="white-text" href="{{ url_for('register') }}">register here!</a></p>
{% endblock %}