<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<div class="col s8">
	<h3 class="page-heading teal-text">Manage Stock Cards</h3>
</div>
<div class="row teal-text borders">
	<form class="col s12" action="{{ url_for('search_stock_card') }}">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">search</i>
				<input class="validate white-text" type="text" name="query">
				<label for="stock_cards_search">Enter Product Code / Description</label>
			</div>
				<a><button class="btn waves-effect waves-light teal black-text" type="submit" name="action">Submit
            <i class="material-icons right">send</i></button></a>
		</div>
	</form>
    <a href="{{ url_for('archive_stock_cards') }}" class="waves-effect waves-light btn teal black-text" type="submit">Archive</a>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="alert-warning white-text"><strong>{{ message }}</strong></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
{% for stock in stock_cards %}
    {% if stock.active == "on" %}
    <!-- Only shows stock card's that are active -->
<div class="row">
	<div class="col s12 m4">
		<div class="card grey lighten-2">
			<div class="card-content black-text">
				<span class="card-title"><strong>{{stock.product_code}}</strong></span>
				<p>{{stock.customer}}</p>
				<p>{{stock.product_desc}}</p>
                <p>Weight - {{stock.unit_weight}}</p>
                <p>Per Pallet - {{stock.unit_per_pallet}}</p>
                <p>Supplier - {{stock.supplier}}</p>
                <p>Packaging - {{stock.packaging}}</p>
				<div class="card-action sc-button-div">
					<a href="{{url_for('edit_stock_cards', stock_cards_id=stock._id )}}"
						class="btn-floating btn waves-effect waves-light light-green sc-button"><i class="material-icons black-text">edit</i></a>
					<a href="{{url_for('delist_stock_cards', stock_cards_id=stock._id )}}"
						class="btn-floating btn waves-effect waves-light red accent-2 sc-button"><i class="material-icons black-text">archive</i></a>
				</div>
			</div>
		</div>
	</div>
        {% endif %}
	{% endfor %}
</div>
<div class="fixed-action-btn">
	<a href="{{url_for('add_stock_cards')}}" class="btn-floating btn-large waves-effect waves-light red accent-2">
		<i class="large material-icons black-text">add</i>
	</a>
</div>
{% endblock %}