<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<h3 class="page-heading teal-text">Relocation</h3>
<div class="row teal-text borders">
	<form action="{{ url_for('relocate_stock', storage_id=storage._id ) }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">supervisor_account</i>
				<select id="customer" name="customer">
                    <option value="" disabled selected>Customer Code</option>
                    {% for customer in customer %}
                        {% if customer.customer == storage.customer %}
                    <option value="{{customer.customer}}" selected disabled>{{customer.customer}}</option>
                        {% else %}
                    <option value="{{customer.customer}}" disabled>{{customer.customer}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
				<label class="teal-text"><strong>Customer</strong><em> (disabled field)</em></label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">description</i>
				<select id="product_code" name="product_code">
                    <option value="" disabled selected>Select Product Code</option>
                    {% for product in product %}
                        {% if product.product_code == storage.product_code %}
                    <option value="{{product.product_code}}" selected disabled>{{product.product_code}}</option>
                        {% else %}
                    <option value="{{product.product_code}}" disabled>{{product.product_code}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
				<label class="teal-text"><strong>Product Code</strong><em> (disabled field)</em></label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">description</i>
				<input id="delivery_ref" name="delivery_ref" type="text" class="validate white-text" value="{{ storage.delivery_ref }}" disabled>
				<label for="delivery_ref" class="white-text">Delivery Reference<em> (disabled field)</em></label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">edit</i>
				<input id="bbe" name="bbe" type="text" class="validate white-text" value="{{ storage.bbe }}" disabled>
				<label for="bbe" class="white-text">Best Before Date:<em> (disabled field)</em></label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">edit</i>
				<input id="quantity" name="quantity" type="text" class="validate white-text" value="{{ storage.quantity }}" disabled>
				<label for="quantity" class="white-text">Quantity Received<em> (disabled field)</em></label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">edit</i>
				<input id="location" name="location" type="text" class="validate white-text" value="{{ storage.location }}" required>
				<label for="location" class="white-text">Location</label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">edit</i>
				<input type="text" class="datepicker white-text" id="date_received" name="date_received" value="{{ storage.date_received }}" disabled>
				<label for="date_received" class="white-text">Date Received<em> (disabled field)</em></label>
			</div>
		</div>
        <a><button class="btn waves-effect waves-light amber accent-2 black-text" type="submit" name="action"><i class="material-icons left">compare_arrows</i>Relocate</button></a> 
	</form>
</div>
{% endblock %}