<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<h3 class="page-heading teal-text">Manage Stock Cards</h3>
<h4 class="teal-text">Search Results</h4>
<!-- Stock search for active stock card -->
{% for stock in results %}
    {% if stock.active == "on" %}
<div class="row borders">
	<div class="col s12 m4">
		<div class="card grey lighten-2">
			<div class="card-content black-text">
				<span class="card-title"><strong>{{stock.product_code}}</strong></span>
				<p>{{stock.customer}}</p>
				<p>{{stock.product_desc}}</p>
                <p>{{stock.supplier}}</p>
				<div class="card-action sc-button-div">
					<a href="{{url_for('edit_stock_cards', stock_cards_id=stock._id )}}"
						class="btn-floating btn waves-effect waves-light light-green sc-button"><i class="material-icons black-text">edit</i></a>
					<a href="{{url_for('delist_stock_cards', stock_cards_id=stock._id )}}"
						class="btn-floating btn waves-effect waves-light red accent-2 sc-button"><i class="material-icons black-text">archive</i></a>
				</div>
			</div>
		</div>
	</div>
            {% else %}
            <br>
            <h4 class="teal-text"> No Active Stock Card Found</h4>
        {% endif %}
	{% endfor %}
</div>
<div class="fixed-action-btn">
	<a href="{{url_for('add_stock_cards')}}" class="btn-floating btn-large waves-effect waves-light red accent-2">
		<i class="large material-icons black-text">add</i>
	</a>
</div>
 <a href="{{ url_for('manage_stock_cards') }}"><button class="btn waves-effect waves-light teal black-text">Clear</button></a>
{% endblock %}