<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<h3 class="page-heading">Manage Stock Cards</h3>
<h4>Search Results</h4>
{% for stock in results %}
    {% if stock.active == "on" %}
<div class="row">
	<div class="col s12 m4">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">{{stock.product_code}}</span>
				<p>{{stock.customer}}</p>
				<p>{{stock.product_desc}}</p>
                <p>{{stock.supplier}}</p>
				<div class="card-action sc-button-div">
					<a href="{{url_for('edit_stock_cards', stock_cards_id=stock._id )}}"
						class="btn-floating btn waves-effect waves-light green sc-button"><i class="material-icons">edit</i></a>
					<a
						class="btn-floating btn waves-effect waves-light red sc-button"><i class="material-icons">archive</i></a>
				</div>
			</div>
		</div>
	</div>
            {% else %}
            <br>
            <h4> No Active Stock Card Found</h4>
        {% endif %}
	{% endfor %}
</div>
<div class="fixed-action-btn">
	<a href="{{url_for('add_stock_cards')}}" class="btn-floating btn-large waves-effect waves-light red">
		<i class="large material-icons">add</i>
	</a>
</div>
<button><a href="{{url_for('manage_stock_cards')}}">Back</a></button>

{% endblock %}