<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<h3 class="page-heading teal-text">Stock Control</h3>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
	{% for message in messages %}
	<li class="alert-warning white-text"><strong>{{ message }}</strong></li>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="row teal-text borders">
	<form class="col s12" action="{{ url_for('stock_search_results') }}">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">search</i>
				<input class="validate white-text" type="text" name="query" required>
				<label for="stock_search_results teal-text">Product Code / Delivery Ref</label>
			</div>
		</div>
		<a><button class="btn waves-effect waves-light teal black-text" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button></a>
	</form>
</div>
<div class="row">
	<ul class="collapsible accordian grey lighten-2">
    <!-- stock search for items that are in stock currently -->
		{% for stock in results %}
		{% if stock.in_stock == "on" %}
		<li>
			<div class="collapsible-header teal loghten-1"><i class="material-icons">expand_more</i>{{ stock.delivery_ref }}</div>
			<div class="collapsible-body">
				<p>Product Code: {{ stock.product_code }}</p>
				{% for stock_cards in stock_cards %}
				{% if stock_cards.product_code == stock.product_code  %}
				<p>{{ stock_cards.product_desc }}</p>
				{% endif %}
				{% endfor %}
				<p>Best Before Date: {{ stock.bbe }}</p>
				<p>Quantity: {{ stock.quantity }}</p>
				<p>Location: {{ stock.location }}</p>
				<p>Customer: {{ stock.customer }}</p>
                <!-- Buttons only accessable to usertypes admin & manager -->
				{% if session['usertype'] != 'warehouse' %}
				<a href="{{ url_for('edit_stock', storage_id=stock._id ) }}"
					class="waves-effect waves-light btn light-green black-text"><i class="material-icons left">edit</i>Edit</a>
				<a href="{{ url_for('dispatch', storage_id=stock._id ) }}"
					class="waves-effect waves-light btn red accent-2 black-text"><i class="material-icons left">local_shipping</i>Dispatch
					Goods</a>
				{% endif %}
				<a href="{{ url_for('relocation', storage_id=stock._id ) }}"
					class="waves-effect waves-light btn amber accent-2 black-text"><i class="material-icons left">compare_arrows</i>Relocate
					Stock</a>
                <a href="{{ url_for('stock_search') }}"><button class="btn waves-effect waves-light teal black-text">Clear</button></a>
			</div>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</div>
{% endblock %}